@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fixes sticky menu from covering anchors */
[id]::before {
    content: '';
    display: block;
    height: 75px;
    margin-top: -75px;
    visibility: hidden;
}